{% set previousPost = collections["log_" + lang ] | getPreviousCollectionItem(page) %}
{% set nextPost = collections["log_" + lang ] | getNextCollectionItem(page) %}

  <div class="pagination">
  {% if previousPost %}
  <a href="{{ previousPost.url }}">{{ dictionary[lang].previousPostText}}</a>
  {% else %}
  <span></span> <!-- Placeholder for spacing -->
  {% endif %}

  {% if nextPost %}
  <a href="{{ nextPost.url }}">{{ dictionary[lang].nextPostText}}</a>
  {% endif %}
</div>
